.aniLogin {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #60C2E5, #EF80AB, #FFFFFF, #60E5C5);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.adfsLoginBtn {
	display: inline;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	align-items: center;
	color: rgb(255, 255, 255);
	background-color: rgb(215, 25, 32);
	white-space: nowrap;
    border: 1px solid transparent;
    flex-direction: row;
	min-width: 200px;   
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 30px;
}